<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SpiceProdDB" connectionString="Server=SPICE-POSTGRES; Database=SpiceProdDB_test; Timeout=120; Port=5432; User ID=postgres; Password=quantsa2k10" providerName="Npgsql" />
    <add name="SpiceCustomersDB" connectionString="Server=SPICE-POSTGRES; Database=SpiceCustomers_test; Timeout=120; Port=5432; User ID=postgres; Password=quantsa2k10" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <!-- General settings -->
    <add key="ScreenshotsDirectory" value="C:\Temp\Screenshots\WindowTests\" />
    <add key="EnableLogging" value="On" />
    <add key="AppiumDriverURI" value="http://127.0.0.1:4723" />
    <add key="SpiceAppLocation" value="C:\Program Files (x86)\The Writer's Muse, LLC\Spice Professional\SpiceProfessional.exe" />
    <add key="WinAppDriverLocation" value="C:\Program Files (x86)\Windows Application Driver\WinAppDriver.exe" />
    <add key="PhrasesFilterLocation" value="C:\Users\praveen\Documents\Spice Professional\PhrasesFilters.xml" />
    <add key="TimelineDocumentLocation" value="C:\Users\praveen\Desktop\timeline.docx" />
    <add key="UsageGraphDocumentLocation" value="C:\Users\praveen\Desktop\cumulativeusagegraph.docx" />
    <add key="SettingsDocumentLocation" value="C:\Users\praveen\Desktop\settings.docx" />
    <add key="SettingsDocumentXmlLocation" value="C:\Users\praveen\Desktop\settings.xml" />
    <add key="OutputErrorFileLocation" value="D:\Praveen\UITestRuns\Logs\FailureLog.csv" />
    <add key="AllKeywordsStatusFileLocation" value="D:\Praveen\UITestRuns\Logs\TestRun_AllKeywords_BasicData_Log.csv" />
    <add key="NotePad" value="notepad.exe" />
    <add key="WordDocument" value="WINWORD.EXE" />
    <add key="ProcessName" value="SpiceProfessional" />
    <add key="WaitTimeForLoginWindow" value="7000" />
    <add key="WaitTimeForWordDocument" value="2000" />
    <add key="CountForReInitializationOfTestRun" value="500" />
    <add key="TestStatusNotificationEmailAddresses" value="sitaram@hawkeslearning.com, praveen@hawkeslearning.com" />
    
    <!-- User Credentials -->
    <add key="Username" value="testqsi3" />
    <add key="Password" value="password1!" />
    
    <!-- Database -->
    <add key="CommandTimeout" value="180" />
    <add key="SearchCriteria" value="Random" /> <!-- Values: All, Random, Range, Array -->
    <add key="Random" value="10" />
    <add key="Range_Min" value="1" />
    <add key="Range_Max" value="1000" />
    <add key="KeywordArrayInput" value="C:\Users\kamal\Desktop\KeywordArray.csv" />

    <!-- General Waits -->
    <add key="MaxWaitTime" value="30000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreplydev@writersmuse.com">
        <network host="email.hawkeslearning.com" userName="noreplydev" password="Quill546"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>