<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SpiceProdDB" connectionString="Server=SPICE-POSTGRES; Database=SpiceProdDB_test; Timeout=120; Port=5432; User ID=postgres; Password=quantsa2k10" providerName="Npgsql" />
    <add name="SpiceCustomersDB" connectionString="Server=SPICE-POSTGRES; Database=SpiceCustomers_test; Timeout=120; Port=5432; User ID=postgres; Password=quantsa2k10" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <!-- General settings -->
    <add key="ScreenshotsDirectory" value="C:\Temp\Screenshots\UITests\" />
    <add key="EnableLogging" value="On" />
    <add key="Browser" value="Chrome" />

    <!-- User Credentials -->
    <add key="Username" value="testautomation" />
    <add key="Password" value="password1!" />

    <!-- Account Details -->
    <add key="NewUsername" value="testautomation" />
    <add key="FirstName" value="writersmuse" />
    <add key="LastName" value="automation" />
    <add key="Password" value="password1!" />
    <add key="ConfirmPassword" value="password1!" />
    <add key="Email" value="sitaram@quantsystems.com" />
    <add key="Phone" value="911111111111" />
    <add key="SecurityAnswer#1" value="test" />
    <add key="SecurityAnswer#2" value="test" />
    <add key="NewPassword" value="password2!" />
    <add key="NewConfirmPassword" value="password2!" />
    <add key="DateOfBirth" value="10/04/2002" />

    <!-- Account Details For User Account Testing-->
    <add key="UsernameForAccountTesting" value="myaccountautomation" />
    <add key="EmailForAccountTesting" value="sitaram@hawkeslearning.com" />
    <add key="ModifiedUserInfo" value="Edited user information for test account" />
    <add key="TestPhotoPath" value="\\spice\QAE\UIAutomation\SupportFiles\testimage.jpg" />
    <add key="ModifiedFirstName" value="test edit first name" />
    <add key="ModifiedLastName" value="test edit last name" />
    <add key="ModifiedEmail" value="test@test.com" />
    <add key="ModifiedPhone" value="919988445566" />
    <add key="HelpText" value="Content to test help text box in contact page" />

    <!-- Check And PayPal Payments -->
    <add key="AddressLine1" value="test door number" />
    <add key="AddressLine2" value="test colony" />
    <add key="City" value="test city" />
    <add key="ZipCode" value="000000" />
    <add key="Country" value="Argentina" />
    <add key="PayPalEmail" value="testpaypal@paypal.com" />
    <add key="TestDate" value="10/04/2002" />
    

    <!-- Urls -->
    <add key="WritersMuseURL" value="http://pg-test-writersmuse.qsidomain.net/" />
    <add key="TestReferenceURL" value="https://www.google.com/" />

    <!-- Database -->
    <add key="CommandTimeout" value="180" />

    <!-- General Waits -->
    <add key="MaxWaitTime" value="30000" />
    <add key="PreloaderWaitTime" value="1000" />
    <add key="ResetPaswordWaitTime" value="2000" />
    <add key="RedeemGiftWaitTime" value="3000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>